body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


.container1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
    

.fondo {
    background-image: url(./imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.fondocontacto {
    width: 100%;
    background-image: url(./imagenes/contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.fondoservicio {
    background-image: url(./imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.card-img {
<<<<<<< HEAD
    width: 316px;
=======
    width: 100%;
>>>>>>> 2a2a0552afc800f8b0fd04f51b74b0ede40f1aac
    height: 200px;
    object-fit: cover;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.img1 {
    width: 600px;
    height: 300px;
    margin-right: 10px;
}

.img2 {
    width: 600px;
    height: 300px;
    margin-left: 10px;
}
<<<<<<< HEAD

#map {
    width: 100%;
    height: 500px;
}
=======
>>>>>>> 2a2a0552afc800f8b0fd04f51b74b0ede40f1aac
